<h1>{{ title }}</h1>
<form (submit)="onSubmit($event, inputValue.value)">
  <label>Add a task</label>
  <input #inputValue type="text" value="" />
  <button (click)="handleClick()">Add</button>
  <ul>
    @for(todo of todos; track todo.id){
    <li [style.backgroundColor]="todo.done? '' : 'orange'">
      <h4>{{ todo.content }}</h4>
      <p>Created {{ todo.createdAt | date:'MM/dd/yy' }}</p>
      <input (change)="toggleChange(todo)"   type="checkbox" [checked]="todo.done" />
      <button type="button" (click)="handleDelete(todo.id)">Delete</button>
    </li>
    }
  </ul> 
</form>
